/* introducing two font families */
@font-face {
    font-family: "Vazirfontfamily";
    src: url("./assets/Fonts/Vazir.ttf");
}
@font-face {
    font-family: "Vazirboldfontfamily";
    src: url("./assets/Fonts/Vazir-Bold.ttf");
    font-weight: bold;
}

/* body background color */
body{
    background-color: rgb(247, 247, 247);
}
/* navigation part overal */
#navbarsection {
    overflow: auto;
    width: 100%;
    top: 0;
    z-index: 11;
    min-height: 10%;
}
/* navigation part overal like before */
.topnavbar {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 30%;
    background-color: white;
    z-index: 11;
}
/* navigation part clinic logo margins and size and hover*/
#logo{
    margin-right: 12%;
    margin-left: 4%;
    width: 15%;
    height: auto;
    padding-right: 100px;
}
#logo:hover {
    cursor: pointer;
}
/* navigation part lists display */
.topnavbar ul{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    text-align: center;
}
/* navigation part lists display and margins and placings*/
.topnavbar ul li {
    vertical-align: middle;
    margin: 8px;
    display: flex;
    flex-direction: row;
    width: 150px;
    padding-top: 10px ;
}
/* navigation part lists links and hover */
.topnavbar ul li a {
    text-decoration: none;
    font-family: "Vazirfontfamily";
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    color: black;
}
.topnavbar ul li a:hover {
    cursor: pointer;
    color: #fb815e;
}
/* navigation bar list icons */
.navbaricons{
    padding-left: 5px;
    width: 20px;
    height: auto;
}
/* login icon */
#loginpic {
    width: 20px;
    margin-top: 5px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/* login button and its hover */
.topnavbar button {
    display: flex;
    flex-direction: row;
    margin-top: 40%;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(194, 194, 194);
    font-family: "Vazirboldfontfamily";
    font-size: larger;
    color: #1780df;
    vertical-align: middle;
}
.topnavbar button:hover {
    cursor: pointer;
    color: #fb815e;
}

/* corona special section */
#coronaspecial{
    background-image: url("./assets/doctorlistpage/coronacover.png");
    background-size: cover;

    height: 650px ;
    
    font-family: "Vazirfontfamily";
}
/* header */
#coronaspecial h1 {
    padding-top: 51px;
    text-align: center;
    color: white;
    font-size: x-large;
}
/* items area */
#coronaitems {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
    color: white;
}
#coronaitems div {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
}
#coronaitems div h4{
    font-size: larger;
}
/* button of this area + hover */
#coronaitems div button{
    font-family: "Vazirboldfontfamily";
    color: white;
    font-size: large;

    width: 300px;
    height: 60px;
    border-radius: 15px;
    border: none;
    background-color: #fb815e;
}
#coronaitems div button:hover{
    background-color: #da6544;
    cursor: pointer;

}

/* application introduction area */
#applicationarea  {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 100px;
    margin-right: 100px;
    height: 700px;
    font-family: "Vazirfontfamily";    
}
/* sides width */
#applicationrightside , #applicationpartdescription {
    text-align: center;
    margin-top: 180px;
    width: 40%;
} 
/* right side area */
#applicationrightside div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}
/* right side area image */
#applicationrightside div a img{
    margin-right: 5px;
    margin-left: 5px;
}
/* left side area */
#applicationpartdescription {
    margin-right: 200px;
    text-align: right;
    color: #3b4157;
}
/* right side area form */
#applicationpartdescription form{
    display: flex;
    flex-direction: row-reverse;
}
/* right side area form button + hover */
#applicationpartdescription form button{
    height: 50px;
    width: 150px;
    font-family: "Vazirfontfamily";
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #fb815e;
}
#applicationpartdescription form button:hover{
    background-color: #e6613d;
    cursor: pointer;
}
/* right side area form input */
#applicationpartdescription form input{
    text-align: right;
    height: 50px;
    width: 230px;
    border-radius: 15px;
    border: 1px groove rgb(182, 182, 182);
    font-family: "Vazirfontfamily";
    margin-left: 10px;
}

/* footer area */
#footerarea {
    background-color: #1780df;
    height: 280px;
    padding-top: 50px;
    text-align: center;
    font-family: "Vazirfontfamily";
    color: white;
    display: flex;
    flex-direction: row-reverse;

}

#rightcol {
    padding: 20px;
}

/* three columns in footer area */
#footercols{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding-right: 5%;
    /* padding-left: 5%; */
    width: 400px;
}
/* two button columns */
.buttoncol{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
/* two button columns buttons+hover */
.buttoncol button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-top: 1px solid white;
    color: white;
    font-family: "Vazirfontfamily";
    text-align: center;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.buttoncol button:hover{
    background-color: white;
    border: none;
    color: #1780df;
    cursor: pointer;
}
/* middle column */
#footercolmiddle {
    width: 50%;
}
/* socialmedia links */
#socialmedialink a {
    margin: 50px;
}

/* footer note */
#footernote {
    font-family: "Vazirfontfamily";
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
#footernote p {
    width: 50%;
    /* margin:; */
}
/* namaad + samandehi logos */
#mellilogos {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 18%;
}
#mellilogos  div{
    margin: 20px;
    background-color: white;
    border: 1px groove rgb(231, 231, 231);
    border-radius: 10px;
    width: 100px;
    height: 120px;
}

#mellilogos  div img{
    margin-top: 10px;
    width: 90px;
    height: auto;

}

/******special services**********/
/*set background and position of special services container*/
#index-specialٍServices-container{
    display: flex;
    justify-content: center;
    line-height: auto;
    flex-direction: column;
    margin-top: 20px;
    background-image: url(./assets/index-page/corona-bg.png);
    background-size: cover;
    background-color: #1780df;
  
  }
  /*keep rows on center*/
  #index-specialٍServices-rows{
    display: flex;
    justify-content: center;
    line-height: auto;
    align-items: center;
    flex-wrap: wrap; 
    margin-right: 10%;
    margin-left: 10%; 
  }
  /*position of first row*/
  #index-bestٍSpecialties-row1-element2{
      display: flex;
      justify-content: flex-end;
      color: #1780df;
  }
  /*keep elements on center an in one row and sort them reversal*/
  #index-specialٍServices{
    display: flex;
    position: center;
    justify-content: center;
    /* align-items: ;
    background-color: ; */
    flex-direction: row-reverse;
  }
  
  #index-specialٍServices > div > h4{
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
  }
  /* #specialiest1-img{
  } */
  /*set size on sections and keep them in one column
   in left side of special service section*/
  #index-specialٍServices > section{
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    flex-wrap: wrap; 
    width: 300px;
    margin: 3%;
  }
  /*set size of images*/
  #index-specialٍServices > section > div > img{
    width: 300px;
    height: auto;
  
  
  }
  #corona-img1{
    padding-top: 10px;  
  }
  /*set style of buttons*/
  #index-corona-btn1 , #index-corona-btn2{
      color: white;
      border: 0;
      border-radius: 10px;
      background-color: #fb815e;
      margin-top: 12px; 
      width: 300px;
      height: 50px;
  }
  #index-corona-btn2{
    margin-top: 35px;
  }

  #index-corona-btn2:hover , #index-corona-btn1:hoverr{
    background-color: #e6610d;
}
/*  */

#blueverticalbar {
    margin-top: 80px;
}

#verticalbarheaderaddress{
    text-align: right;
    margin-right: 10%;
    color: rgb(114, 113, 113);
}
#verticalbarheaderaddress a{
    color:  #1780df;
}

#bluediv{
    background-color: #1780df;
    border-radius: 10px;
    width: 80%;
    height:120px;
    text-align: right;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

#bluediv > h4 {
    padding-top: 15px;
    margin-right: 20px;
    font-size: x-large;
}

#bluediv > p {
    margin-right: 20px;
}