/*this css style is made for index page*/
body {
    margin: 0;
    background-color: #FCFCFC;
}
/*this class keep items in center and margin both sides*/
.common-flex{
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  /* background-color: ; */
}


/******special services**********/
/*set background and position of special services container*/
#index-specialٍServices-container{
  display: flex;
  justify-content: center;
  line-height: auto;
  flex-direction: column;
  margin-top: 20px;
  background-image: url(./assets/index-page/corona-bg.png);
  background-size: cover;
  background-color: #1780df;

}
/*keep rows on center*/
#index-specialٍServices-rows{
  display: flex;
  justify-content: center;
  line-height: auto;
  align-items: center;
  flex-wrap: wrap; 
  margin-right: 10%;
  margin-left: 10%; 
}
/*position of first row*/
#index-bestٍSpecialties-row1-element2{
    display: flex;
    justify-content: flex-end;
    color: #1780df;
}
/*keep elements on center an in one row and sort them reversal*/
#index-specialٍServices{
  display: flex;
  position: center;
  justify-content: center;
  /* align-items: ;
  background-color: ; */
  flex-direction: row-reverse;
}

#index-specialٍServices > div > h4{
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}
#specialiest1-img{
}
/*set size on sections and keep them in one column
 in left side of special service section*/
#index-specialٍServices > section{
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  flex-wrap: wrap; 
  width: 300px;
  margin: 3%;
}
/*set size of images*/
#index-specialٍServices > section > div > img{
  width: 300px;
  height: auto;

}

#corona-img1{
  padding-top: 10px;  
}
/*set style of buttons*/
#index-corona-btn1 , #index-corona-btn2{
    color: white;
    border: 0;
    border-radius: 10px;
    background-color: #fb815e;
    margin-top: 12px; 
    width: 300px;
    height: 50px;
}
#index-corona-btn2{
  margin-top: 35px;
}
/******download application*****/
/*keep elements in one row using flex*/
#index-dl-app{
  display: flex;
  position: center;
  justify-content: center;
  /* align-items: ;
  background-color: ; */
  flex-direction: row-reverse;
  margin: 8%;
}
/*set margin between two sections*/
#index-dl-app > section{
  margin: 3%;
}
/*set image size*/
#dl-app-img{
  width: 460px;
  height: auto;
}
/*keep three logos in one row*/
#index-dl-app-right-logos{
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  /* background-color: ; */
  flex-direction: row;
}
/*set size of logos*/
#index-dl-app-right-logos > div > img{
  width: 30px;
  height: auto;
  padding: 5px
}
/*position of left side section*/
#index-dl-app-left{
  padding-left: 80px;
  padding-bottom: 80px;
}
#index-dl-app-left > div{
  padding-bottom: 30px;
}
/*keep form elements in one row*/
#dl-app-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 5px;
    height: 50px;
    border-color: #ced4da;
}
/*style of send link input*/
#dl-app-form input {
    width: 250px;
    border-radius: 10px;
    margin-left: 5px;
}
#dl-app-form select {
    width: 150px;
}
/*set style of send link button*/
#dl-app-btn{
   color: white;
    border: 0;
    border-radius: 10px;
    background-color: #fb815e;
    width: 150px;
    height: 50px;
    margin-left: 25PX;
}

/******footer*********/
/*set footer section background color*/
#footerdiv {
    padding-top: 50px;
    background-color: #1780df;
    
    text-align: center;
    width: 100%;
    height: 800px;
}
/*keep elements in one row*/
#threefoots {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
/*keep section elements in columns*/
#foot1 , #foot3{
    /* width: 30%; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
/*position of second section*/
#foot2 { 
    /* width: 70%; */
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding-left: 13.5%;
    padding-right: 13.5%;
    text-align: center;

}
/*set style and position of vertical line*/
#verticalline{
    text-align: center;
    display: absolute;
    transform: translate(10px,0);
    height: 150px;
    width: 2px;
    background-color: white;
    z-index: 10;
    margin: 10px;
}
#foot2 > div {
    margin: 30px;
}
#foot1{
    padding-right: 150px;
}
#foot3{
    padding-left: 150px;
}
/*set style of section one and three buttons*/
#foot1 > button , #foot3 > button {
    color: white;
    border: none;
    border-top: 1px solid white;
    height: 40px;
    width: 150px;
    background-color: transparent;
}
#khabarname {
    width: 25%;
    padding-left: 37.5% ;
}
/*keep in a row*/
#onelineinput {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
/*set style and position of inputs */
#khabarname > form > div > #name {
    width: 50%;
    height: 40px;
    margin-left: 2px;
    border-radius: 5px;
    text-align: right;
    border: none;
}
#khabarname > form > div > #fname {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    margin-left: 2px;
    text-align: right;
    border: none;

}
#khabarname > form > #email {
    margin-top: 4px;
    width: 100%;
    height: 40px;
    text-align: right;
    border-radius: 5px; 
    border: none;

}
/*set style and position of button*/
#khabarname > form > button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #fb815e;
}
/*keep elements in one row*/
#end-of-footer {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
#pricipals{
    padding-right: 10%;
    padding-left: 10%;
}
#lastword{
    padding-right: 28%;
}
/*keep standars logos in one row and set space between them*/
#standard-logos{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}
/*ser background and border for standard logos*/
#standard-logos > div{
  height: 110px;
  background-color: white; 
  margin: 8px;
  border-radius: 10px!important;
  margin-bottom: 10px;
}
/*set the size of standard logos*/
#standard-logos > div > img{
  width: 95px;
  height: auto; 
}

#index-corona-btn2:hover , #dl-app-btn:hover, #index-corona-btn1:hover{
    background-color: #e6610d;
}
#foot1 > button:hover {
    color: #1780df;
    background-color: white;
    border-top: none;
    cursor: pointer;
}
#foot3 > button:hover {
    color: #1780df;
    background-color: white;
    border-top: none;
    cursor: pointer;
}
#join-button:hover {
    background-color: #e6610d;
}