body{
    background-color: rgb(247, 247, 247);
}

/* putting a margin for the whole section (slideshow) */
#slideshowarea {
    display: flex;
    margin: 30px;
    
}
/* putting the image in the center of the screen */
#slideshowarea img {
    height: auto;
    transform: translate(10%,0);
}

#proflistdiv {
    display: flex;
    flex-direction: row-reverse;
    height: 1050px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

#scrolllist {
    width: 20%;
    /* background-color: pink; */
}

#proflistitems {
    width: 80%;
    /* background-color: purple; */
    /* text-align: right; */
}

.vertical-menu {
    /* width: 200px; */
    height: 400px;
    overflow-y: auto;
    text-align: right;
    direction: rtl;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    /* border-radius: 10px; */
}

#proflistheader {
    background-color: white;
    border-radius: 10px;
    border:1px solid rgba(197, 197, 197, 0.603);
    
}
#proflistheader label{
    text-align: right;
    /* padding-right: 20px; */
}

#proflistheader label p{
    font-size: small;
    color: rgb(160, 160, 160);
    padding-right: 10px;

}
#proflistheader label h4{
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;

}

#proflistheader input {
    display: block;
    background-color:white;
    color: rgb(100, 100, 100);
    width: 98%;
    height: 40px;
    /* direction: ltr; */

    text-align: right;

    border: 1px solid rgba(177, 177, 177, 0.192);
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    
}

#scrollabel {
    /* width: 100%; */
    height: 50px;
    color: #1780df;
    background-color: #8cb9e4;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#scrollabel p{
    padding-top: 10px;
}

.vertical-menu li {
    display: block;
    background-color:white;
    padding: 12px;
    direction: ltr;

}

.vertical-menu a {
    text-decoration: none;
    color: rgb(100, 100, 100);    
}

.vertical-menu a:hover {
    color: #1780df;
    border-bottom: 1px dashed #1780df;
}

/* -------------- */
.itemcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profitemcontainer {
    height: 300px;
    width: 230px;
    margin-top: 30px;
    border: 1px solid rgba(197, 197, 197, 0.603);
    border-radius: 10px;
    background-color: white;
}
.profitemcontainer:hover {
    cursor: pointer;
    border: 1px solid #fb815e;
    
}

.profitemheader {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10%;
    margin-top: 15px;
    height: 70px;
}

.profitemheader p {
    text-align: right;
    margin-right: 7%;
}

.profitembody {
    margin: 15px;
    text-align: right;
    height: 115px;
}

.profitemfooter {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
}

.profitemfooter div{
    text-align: center;
    width: 50%;
}

.profitemfooter > div > p{
    transform: translate(0,-80%);
    font-size: small;
}

.profitemfooter button{
    margin-left: 20px;
    /* margin-right: 20px; */
    width: 50%;

    border: 2px solid #fb815e;
    border-radius: 5px;
    background-color: transparent;
    color: #fb815e;
}

.profitemfooter button:hover{
    background-color: #fb815e;
    color: white;
}

/* #proitem1 {
    background-color: hotpink;
} */

.item1 {
    margin-left: 50px;
    margin-right: 25px;
    /* background-color: hotpink; */
}

.item2 {
    margin-right: 25px;
    margin-left: 25px;
    /* background-color: purple; */

}

.item3 {
    margin-right: 50px;
    margin-left: 25px;
    /* background-color: blueviolet; */

}


/* footer area */
#footerarea {
    background-color: #1780df;
    height: 280px;
    padding-top: 50px;
    text-align: center;
    font-family: "Vazirfontfamily";
    color: white;
    display: flex;
    flex-direction: row-reverse;

}

#rightcol {
    padding: 20px;
}

/* three columns in footer area */
#footercols{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding-right: 5%;
    /* padding-left: 5%; */
    width: 400px;
}
/* two button columns */
.buttoncol{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
/* two button columns buttons+hover */
.buttoncol button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-top: 1px solid white;
    color: white;
    font-family: "Vazirfontfamily";
    text-align: center;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.buttoncol button:hover{
    background-color: white;
    border: none;
    color: #1780df;
    cursor: pointer;
}
/* middle column */
#footercolmiddle {
    width: 50%;
}
/* socialmedia links */
#socialmedialink a {
    margin: 50px;
}

/* footer note */
#footernote {
    font-family: "Vazirfontfamily";
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
#footernote p {
    width: 50%;
    /* margin:; */
}
/* namaad + samandehi logos */
#mellilogos {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 18%;
}
#mellilogos  div{
    margin: 20px;
    background-color: white;
    border: 1px groove rgb(231, 231, 231);
    border-radius: 10px;
    width: 100px;
    height: 120px;
}

#mellilogos  div img{
    margin-top: 10px;
    width: 90px;
    height: auto;

}

