<html>
    <head>
        <!-- title -->
        <title>ورود</title>
        <!-- css file -->
        <link rel="stylesheet" href="loginstyle.css">
    </head>
    <body>
        <!-- left part -->
        <section id="loginPart">
            <div class="loginp">
                <h4 id="topinputtext">
                    برای ورود شماره همراه خود را وارد کنید.</h4>
                <label for="phonenum" id="phonenumlabel">شماره همراه</label>
                <br>
                <input type="text" placeholder="مثلا 09121234567" id="phonenum" name="phonenum"><br><br>
                <button type="submit" id="inputsubmitbutton">
                    دریافت کد تایید</button>
                <br><br>
                <button type="button" id="refrenceid">کد معرف دارید؟</button>
            </div>
        </section>
        <!-- right side blue header -->
        <section id="blueHeader">
            <div class="blueh">
                <img src="../../assets/loginpage/loginheader.svg" alt="IMG_HEADER" class="drmnkde">
                <h1 id="welcometodarmankade">به درمانکده خوش آمدید</h1>
                <br>
                <p>نوبت دهی آنلاین مطب پزشکان</p>
            </div>
        </section>
    </body>
</html>