/* font face */
@font-face {
    font-family: "Vazirfontfamily";
    src: url("../../assets/Fonts/Vazir.ttf");
}

/* right side blue header */
#blueHeader {
    background-color: #1780df;
    width: 30%;
    height: 100%;
}
/* left side login part */
#loginPart {
    width: 70%;
    height: 100%;
}
/* whole page */
body {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    font-family: "Vazirfontfamily";
}
/* blur header div */
div.blueh {
    position: fixed;
    top: 50%;
    left: 85%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
/* welcome text */
#welcometodarmankade {
    font-size: larger;
}
/* welcome logo */
img.drmnkde{
    width: 120%;
    height: auto;
    vertical-align: middle;
    transform: translate(-10%,-10%);
}
/* right side form */
div.loginp {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
}
/* Login button */
#inputsubmitbutton {
    background-color :#fb815e;
    box-shadow: none;
    width: 220%;
    border: none;
    padding: 16px;
    cursor: pointer;
    outline: none;
    font-family: "Vazirfontfamily";
    color: white;
    font-size: larger; 
    border-radius: 10px;
    transform: translate(-27%, 0);
}
/* phone number input part */
#phonenum {
    text-align: right;
    padding: 12px 10px;
    border: 2px solid #cdcdcd;
    position: relative;
    width: 220%;
    font-family: "Vazirfontfamily";
    transform: translate(-27%, 0);
    background: linear-gradient(180deg,#fafafa,#fafafa 50%,#fff 70%);

    border-radius: 4px;
}
/* hover of it */
#phonenum:hover{
    border: 2px solid blue;
}
/* reference bottun */
#refrenceid {
    font-family: "Vazirfontfamily";
    cursor: pointer;
    display: inline-block;
    height: 7vh;
    font-weight: 400;
    color: #fb815e;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* hover of it */
#refrenceid:hover{
    border: 1px solid #fb815e;
    background-color: #fb815e;
    color: white;
  }
/* text */
#topinputtext {
    /* position: absolute; */
    transform: translate(60%, 0);
}
/* label of the input part and its transform */
#phonenumlabel{
    text-align: right;
    justify-self: right; 
    position: absolute;
    transform: translate(220%, 50%);
    z-index: 10;
    background-color: white;
    color: #6e7794;
}
